# OpenMVS approximate formatting rules inferred from libs/MVS and libs/Common
---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: 0
NamespaceIndentation: None
IndentPPDirectives: BeforeHash

# Line breaking
ColumnLimit: 0  # preserve long lines; project has many >120
ReflowComments: false
KeepEmptyLinesAtTheStartOfBlocks: false

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterEnum: false
  AfterControlStatement: false
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Pointers/references
DerivePointerAlignment: false
PointerAlignment: Left   # Type*& var, const Type& name

# Short constructs on one line
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Spacing
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
SpaceAfterTemplateKeyword: true
Cpp11BracedListStyle: true

# Wrapping/alignment
BinPackParameters: true
BinPackArguments: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakBeforeBinaryOperators: NonAssignment
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false

# Includes & usings
SortIncludes: false
IncludeBlocks: Preserve
SortUsingDeclarations: false

# Macros
# All iterator helpers in libs/Common/List.h expand to for loops.
ForEachMacros: ['FOREACH', 'RFOREACH', 'FOREACHPTR', 'RFOREACHPTR', 'FOREACHRAW', 'RFOREACHRAW', 'FOREACHRAWPTR', 'RFOREACHRAWPTR']
